
* {
  	box-sizing: border-box;
}

.main {
  width:90%;
  margin: auto;
  background-color: #522412;
}
.btn {
	cursor: pointer;
}



#startScreen{
	width: 100%;
	/*display: flex;*/
	display: none;
	flex-direction: column;
	align-items: center;
	background: url("../images/bckg_start.png") repeat;
	padding-top: 51%;
	position: relative;
}
#startScreen > div {
	margin-top: -25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#startScreen > div > img{
	max-width: 100%;
}
#bt_start {
	width: 100px;
  	height: 35px;
  	margin: auto;
  	margin-top: 10px;
	background-image: url("../images/bt_start.png");
}
#bt_start:hover {
	background: url("../images/bt_start_hover.png");
}



#gameScreen {
  /*display: none;*/
  display: block;
  background-color:#e5e5e5;
  padding: 10px;
  padding-bottom: 6px;
  position: relative;
}
#canvas {
  width: 100%;
}
#bar_buttons {
	position: absolute;
	top: 0; 
	left: 100%;
	margin-top: 14px;
	margin-left: -100px;
	display: flex;
}
#bt_audioOnOff {
	height: 33px;
	width: 40px; 
}
.bt_audioOn {
	background: url("../images/audioOn.png");
}
.bt_audioOn:hover {
	background: url("../images/audioOn_hover.png");
}
.bt_audioOff {
	background: url("../images/audioOff.png");
}
.bt_audioOff:hover {
	background: url("../images/audioOff_hover.png");
}
#bt_playPause {
	height: 33px;
	width: 40px; 
	margin-left: 5px;
}
.bt_pause {
	background-image: url("../images/pause.png");
}
.bt_pause:hover {
	background-image: url("../images/pause_hover.png");
}
.bt_play {
	background-image: url("../images/play.png");
}
.bt_play:hover {
	background-image: url("../images/play_hover.png");
}



#popup {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 190px;
  position: absolute;
  top: 50%; 
  left: 50%;
  margin-left: -175px;
  margin-top: -95px;
  border-radius: 5px;
  text-align: center;
  border: 6px solid #441806;
  background-image: url("../images/bckg_popup.png");
  
}
#popup h1 {
	font-weight: bold;
	margin: 0px;
	color: #d2611b;
	text-shadow: 2px 0 0 #441806, -2px 0 0 #441806, 0 2px 0 #441806, 0 -2px 0 #441806, 1px 1px #441806, -1px -1px 0 #441806, 1px -1px 0 #441806, -1px 1px 0 #441806;
}
.big_font {
	font-size: 50px;
}
.small_font {
	font-size: 34px;
}
#bt_restart {
	width: 100px;
  	height: 35px;
  	margin: auto;
	margin-top: 20px;
	background-image: url("../images/bt_restart.png");
}
#bt_restart:hover {
	background: url("../images/bt_restart_hover.png");
}