/*
* {
    box-sizing: border-box;
  }
  .main {
    float:left;
    width:90%;
    margin-left: 5%;
    padding:10px 10px;
    background-color:#e5e5e5;
  }
  @media only screen and (max-width:620px) {
    
    .menu {
      width:100%;
    }
  }
  #canvas {
    background-color: aqua;
    width: 100%;
  }*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  	box-sizing: border-box;
}

.main {
	width:90%;
  margin: auto;
  background-color: #111;
}

#gameScreen {
	display: none;
  background-color:#e5e5e5;
  padding: 10px;
  padding-bottom: 6px;
}

#canvas {
  width: 100%;
}


#startScreen{
	height: 420pt;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	letter-spacing: 1px;
}

h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 80px;
	line-height: .75;
	margin: 10px 0;
}

#buttonStart {
	text-transform: uppercase;
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 4px;
	font-size: 20px;
	color: #FFF;
	transition: .40s ease-in-out;
	border-color: #727272;
	margin-top: 50px;
	font-family: "Montserrat";
}

#buttonStart:hover {
	background-color: #FFF;
	color: #122;
	cursor: pointer;
}